@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: lightcoral;
} */

.container {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #363543;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 12rem;
}


a {
    text-decoration: none;
    color: #fff ;
    padding: 1.7rem;
    font-size: 1.2rem;
}

a:hover {
    background-color: #fff;
    color: #363543;
    font-weight: bold;
}

.logo {
    margin-left: 5rem;
    font-size: 1.2rem;
}

.icons {
    margin-right: 5rem;
}

.icons i {
    padding: 0rem .5rem;
}