@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #363543;
}

.container {
    font-family: 'Open Sans', sans-serif;
}


/* 01. Navbar Section */
.navbar {
    /* background-color: #363543; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    padding-bottom: 6rem;
}

.navs > ul {
    list-style: none;
    display: flex;
    margin-right: 12rem;
}


.navs ul li a {
    text-decoration: none;
    color: #fff ;
    padding: 1.7rem;
    font-size: 1.2rem;
}

.navs ul li a:hover {
    background-color: #fff;
    color: #363543;
    font-weight: bold;
}

.logo {
    margin-left: 5rem;
    font-size: 1.2rem;
}

.icons {
    margin-right: 5rem;
}

.icons > i {
    padding: 0rem .5rem;
}

.greyColor {
    color: #969595;
}

.whiteColor {
    color: #fff;
}


/* CIRCLE */
.circleDiv {
    display: flex;
    justify-content: center;
    position: relative;
    
}

.circleDiv > .circle {
    background-color: #2C2C38;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    position: absolute;
    top: .3rem;
    background-image: url(./images/men.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: .8;
}


/* 02. Section */
.section2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
}

.section2 > .first {
    margin-left: 5rem;
}

.section2 > .second {
    margin-right: 5rem;
}

.increase {
    font-size: 3rem;
}

.name {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

.yellowBar {
    width: 10rem;
    height: .5rem;
    background-color: yellow;
    margin-top: 1rem;
    border-radius: 3px;
}

.section2 .first .leftPara {
    margin-top: 1.9rem;
    width: 14rem;
    line-height: 1.6rem;
    font-size: .9rem;
}

.section2 .second p {
    font-size: 1.2rem;
    width: 16.5rem;
    margin: 1rem 0;
}

.section2 .second li {
    list-style: none;
    margin-bottom: 1rem;
}

.section2 .second li a{
    text-decoration: none;
    color: yellow;
}

.section2 .second li i {
    margin-left: .6rem;
}

.section2 .second .socialIcons img{
    margin: 0rem 1rem 0rem 0rem;
}



/* 03. Section : Sociol Platform */
.section3 {
    background-color: #282834;
    position: relative;
    padding-top: 9rem;
}

/* For Social Media Icons Work */
.section3 > .rectangle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3F3F4E;
    /* margin: 0 6rem; */
    height: 7rem;
    width: 90%;
    position: absolute;
    top: -3.4rem;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section3 > .rectangle > .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2C38;
    padding: .8rem 4rem;
}

.section3 > .rectangle > .right > img {
    margin-right: 1rem;
}

/* Skills and Projects work */
.section3 > .projects {
    display: flex;
    align-items: center;
}

.section3 > .projects > .first {
    margin-left: 5rem;
    width: 50%;
}

.section3 > .projects > .first > .heading {
    line-height: 3rem;
    word-spacing: .5rem;
}

.section3 > .projects > .first > p {
    color: #fff;
    font-size: .9rem;
    width: 50%;
    padding: 1.5rem 0 0;
}

.section3 > .projects > .first > .numberTitle_div {
    padding: 1.5rem 0 0;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.section3 > .projects > .first > .numberTitle_div .firstRow,  .section3 > .projects > .first > .numberTitle_div .secondRow {
    display: flex;
    justify-content: space-between;
}


.section3 > .projects > .first > .numberTitle_div .number_title {
    width: 10rem;
    margin-bottom: 1.5rem;
}

.section3 > .projects > .first > .numberTitle_div .number_title > .number {
    color: yellow;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.section3 > .projects > .first > .numberTitle_div .number_title > .title  {
    color: white;
    font-size: .8rem;
}

/* Images and Name */
.section3 .projects .second {
    margin-right: 5rem;
    width: 50%;
}

.section3 .projects .second .imageText_div {
    display: flex;
    flex-direction: column;
}

.section3 .projects .second .imageText_div .image_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .7rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #3F3F4E;
}

.section3 .projects .second .imageText_div .image_text .image_text_only {
    display: flex;
    align-items: center;
}

.section3 .projects .second .imageText_div .image_text .text_title {
    margin: 0 0 0 2rem;
}

.section3 .projects .second .imageText_div .image_text .text {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.section3 .projects .second .imageText_div .image_text .title {
    color: #fff;
    font-size: .8rem;
}

.section3 .projects .second .imageText_div .image_text img {
    width: 12rem;
    height: 8rem;
}

.section3 .projects .second .imageText_div .image_text i {
    color: yellow;
}


/* 04. Section : Three Boxes */


